*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Arial, sans-serif;
}

body{
background:#f4f4f4;
}

/* NAVBAR */

header{
background:#0d2b4d;
padding:10px 40px;
}

.nav-container{
display:flex;
justify-content:space-between;
align-items:center;
}

nav ul{
display:flex;
gap:25px;
color:white;
list-style:none;
font-size:14px;
}
nav ul li a{
text-decoration: none;
color: white;
font-weight: 500;
}

nav ul li a:hover{
color: #ffd166;
}

.logo img{
height:40px;
}

.right-logo img{
height:40px;
}

/* HERO */

.hero-img{
width:100%;
height:420px;
object-fit:cover;
}

/* ABOUT */

.about{
padding:60px 120px;
background:white;
text-align:center;
}

.section-btn{
background:#0d2b4d;
color:white;
border:none;
padding:8px 18px;
border-radius:20px;
margin:15px auto;
display:block;
}

.about-container{
display:flex;
align-items:center;
justify-content:center;
gap:60px;
}

.about-image img{
width:300px;
border-radius:12px;
}

.about-text{
max-width:500px;
text-align:left;
}

.about-text p{
margin-bottom:15px;
color:#444;
}

.dark-btn{
background:#0d2b4d;
color:white;
border:none;
padding:8px 20px;
border-radius:5px;
display:block;
margin:10px auto;
}

/* HEADING */

.about-heading{
font-size:32px;
font-weight:700;
line-height:1.3;
border-bottom:3px solid #222;
display:inline-block;
padding-bottom:5px;
margin-bottom:15px;
}

.unity{
color:#e63946;
}

.service{
color:#2a6f97;
}

/* CARDS */

.events{
position: relative;
padding: 100px;
text-align: center;
}

.events-slider{
display: flex;
gap: 30px;
overflow: hidden;
scroll-behavior: smooth;
justify-content: center;
}

.arrow{
position: absolute;
top: 50%;
transform: translateY(-50%);
background: #0d2b4d;
color: white;
border: none;
font-size: 28px;
padding: 10px 15px;
cursor: pointer;
border-radius: 50%;
}

.left{
left: 10px;
}

.right{
right: 10px;
}
.section-btn{
background:#0d2b4d;
color:white;
border:none;
padding:8px 20px;
border-radius:22px;
margin:10px auto;
}

/* LOGO */

.logo-section{
    
text-align: left;
padding:100px;
background:white;
margin-left: 0px;
}

.logo-section img{
height:150px;
}

/* SONG */

.song{
padding:80px;
text-align:center;
background-image: url(background.png.jpeg);
background-size: cover;
background-position: center;
color:rgb(0, 0, 0);
}

.song-text{
max-width:500px;
margin:auto;
line-height:1.7;
}

/* EVENTS */

.events{
padding:50px;
background:white;
text-align:center;
}

.events-container{
display:flex;
justify-content:center;
gap:40px;
margin-top:30px;
}

.event-card{
width:250px;
height:140px;
background:#e5e5e5;
border-radius:10px;
}

/* FOOTER */

footer{
background:#1f3a5c;
color:white;
}

.footer-container{
display:flex;
justify-content:space-between;
align-items:flex-start;
padding:50px 120px;
gap:60px;
flex-wrap:wrap;
}

.footer-col{
flex:1;
min-width:200px;
}

.footer-col ul{
list-style:none;
line-height:1.8;
}
.footer-col li a{
text-decoration: none;
color: white;
font-weight: 500;
}

.footer-col li a:hover{
color: #ffd166;
}

.logo-row{
display:flex;
gap:12px;
margin-bottom:15px;
}

.logo-row img{
height:45px;
}

.copyright{
text-align:left;
padding:10px;
background:#0d2b4d;
font-size:13px;
}
.copyright ul {
    float: right;
    text-decoration:underline; 
    text-decoration:none;
display:flex;
gap:25px;
color:white;
list-style:none;
font-size:14px;
}
.copyright li a{
float: right;
color: white;
font-weight: 500;
}
.copyright  ul li a:hover{
color: #ffd166;
}
footer ul li img{
    width: 15px;
    height: auto;
    border-radius: 5px;
}
